.home-Login {
  font-size: 40px;
  font-weight: 700;
  background: linear-gradient(270deg, #ff5edf, #04c804, #fffc00, #ff5edf);
  background-size: 800% 800%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  animation: aurora 10s ease infinite;
}

@keyframes aurora {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

