.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.678);
  z-index: 2000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.loader div {
  width: 15px;
  height: 15px;
  background: #0d6efd;
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}

.loader div:nth-child(2) {
  animation-delay: 0.2s;
}

.loader div:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-15px);
  }
}

.loading-text {
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
}
