<div class="home-bg py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">

        <div class="card shadow-lg rounded-4 p-4">
          <div class="text-center mb-4">
            <img src="images/profile.png" class="rounded-circle mb-3" width="110" height="110" alt="Profile">
            <h4 class="fw-bold">
              Welcome, {{ guestname }}
              <img src="market.png" alt="user" width="24" height="24">
            </h4>
          </div>

          <button type="button" class="btn mb-3" [class.btn-outline-primary]="!showForm"
            [class.btn-outline-secondary]="showForm" (click)="toggleForm()">
            {{ showForm ? 'Cancel Editing' : 'Edit Profile' }}
          </button>

          <form [formGroup]="profileForm" (ngSubmit)="updateProfile()" class="profile-form" [class.show]="showForm">

            <!-- Username -->
            <div class="mb-3">
              <label for="username" class="form-label">Username :</label>
              <input type="text" formControlName="username" name="username" placeholder="Enter Your Username"
                class="form-control w-100 p-2 shadow-none" maxlength="20" id="username" required />
              @if (username?.touched && username?.invalid) {
              <div class="text-danger text-center mt-2">
                @if (username?.errors?.['required']) {
                <p>Username Is Required</p>
                }
                @if (username?.errors?.['pattern']) {
                <p>Username Must Be Between 4 to 10 characters</p>
                }
              </div>
              }
            </div>

            <!-- Full Name -->
            <div class="mb-3">
              <label for="name" class="form-label">Full Name :</label>
              <input type="text" formControlName="name" name="name" placeholder="Enter Your Full Name"
                class="form-control w-100 p-2 shadow-none" id="name" maxlength="25" />
              @if (name?.touched && name?.invalid) {
              <div class="text-danger text-center mt-2">
                @if (name?.errors?.['required']) {
                <p>Full Name Is Required</p>
                }
                @if (name?.errors?.['pattern']) {
                <p>Full Name Must Be Between 4 to 20 characters</p>
                }
              </div>
              }
            </div>

            <!-- Email Address -->
            <div class="mb-3">
              <label for="email" class="form-label">Email Address :</label>
              <input type="email" formControlName="email" name="email" placeholder="Enter Your Email"
                class="form-control w-100 p-2 shadow-none" id="email" />
              @if (email?.touched && email?.invalid) {
              <div class="text-danger text-center mt-2">
                @if (email?.errors?.['required']) {
                <p>Email Address Is Required</p>
                }
                @if (email?.errors?.['email'] && email?.value) {
                <p>Invalid Email Address</p>
                }
                @if (email?.errors?.['pattern']) {
                <p>Email must be from gmail.com, outlook.com, or yahoo.com</p>
                }
              </div>
              }
            </div>

            <!-- Phone Number -->
            <div class="mb-3">
              <label for="phone" class="form-label">Phone Number :</label>

              <div class="input-group phone-group">
                <input type="tel" id="phone" class="form-control w-100 p-2 shadow-none" formControlName="phone"
                  placeholder="Enter your phone number" />
              </div>

              @if (phone?.touched && phone?.invalid) {
              <div class="text-danger text-center mt-2">
                @if (phone?.errors?.['required']) {
                <p>Phone Number Is Required</p>
                }
                @if (phone?.errors?.['invalidPhone']) {
                <p>Please enter a valid phone number</p>
                }
              </div>
              }
            </div>

            <!-- Password -->
            <div class="mb-3">
              <label for="password" class="form-label"> New Password :</label>
              <div class="input-group">
                <input [type]="ShowPass ? 'text' : 'password'" placeholder="Enter your new password"
                  formControlName="password" name="password" class="form-control shadow-none" id="password"
                  maxlength="25" />
                <button type="button" class="btn btn-outline-primary" (click)="TogglePass()">{{ShowPass ? "Hide" :
                  "Show"}}</button>
              </div>
              @if (password?.touched && password?.invalid) {
              <div class="text-danger text-center mt-2">
                @if (password?.errors?.['required']) {
                <p>Password Is Required</p>
                }
                @if (password?.errors?.['pattern']) {
                <p>Password must be 8 to 25 characters long and contain at least one number</p>
                }
              </div>
              }
            </div>

            <!-- Confirm Password -->
            <div class="mb-3">
              <label for="confirm_password" class="form-label">Confirm Password :</label>
              <div class="input-group">
                <input [type]="ShowConfPass ? 'text' : 'password'" placeholder="Re-enter your password"
                  formControlName="confirm_password" name="confirm_password" class="form-control shadow-none"
                  id="confirm_password" />
                <button type="button" class="btn btn-outline-primary" (click)="ToggleConfPass()">{{ShowConfPass ?
                  "Hide" :
                  "Show"}}</button>
              </div>
              @if (confirm_password?.touched && confirm_password?.errors?.['required']) {
              <p class="text-danger text-center mt-2">Confirm Password is Required</p>
              }
              @if (confirm_password?.touched && !confirm_password?.errors?.['required'] &&
              profileForm.errors?.['notMatching']
              ) {
              <p class="text-danger text-center mt-2">Passwords do not match</p>
              }
            </div>

            <button class="btn btn-primary w-100 mb-3" type="submit">
              Update Profile
            </button>
          </form>

          @if (!showForm) {
          <button type="button" class="btn btn-danger w-100" (click)="deleteAccount()">
            Delete Account
          </button>
          }
        </div>

      </div>
    </div>
  </div>
</div>
