/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";

body.swal2-shown {
  overflow-y: auto !important;
  padding-right: 0 !important;
}

body {
  padding-top: 45px;
}

.home-bg {
  min-height: 100vh;
  background: linear-gradient(270deg,
      #ecfeff,
      #e0f2fe,
      #f0fdfa,
      #f8fafc);
  background-size: 600% 600%;
  animation: gradientMove 17s ease infinite;
}

/* Animation */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
